{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="inscription">
                            <strong>Pas encore inscrit ? </strong><a class="" href="{{ path('fos_user_registration_register') }}">Inscription</a>
                        </div>

                        <div class="row">
                            <h2>Connexion</h2>
                        </div>

                        {% if error %}
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6 alert alert-danger alert-dismissible" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                                </div>
                            </div>
                        {% endif %}

                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <div class="row">
                                <div class="col-md-offset-3 col-md-6 form-group">
                                    <label class="label_input" for="username">{{ 'security.login.username'|trans }} / Adresse mail</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-offset-3 col-md-6 form-group">
                                    <label class="label_input" for="password">{{ 'security.login.password'|trans }}</label>
                                    <input type="password" id="password" name="_password" class="form-control" required="required" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-offset-3 col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                            {{ 'security.login.remember_me'|trans }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <input type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary" value="{{ 'security.login.submit'|trans }}" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
