{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}

                        {{ form_errors(form) }}

                        <div class="form-group">
                            {{ form_label(form.name, "Nom de la série") }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.author, "Auteur de la série") }}
                            {{ form_errors(form.author) }}
                            {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.releasedAt, "Date de diffusion de la série") }}
                            {{ form_errors(form.releasedAt) }}
                            {{ form_widget(form.releasedAt, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.description, "Description de la série") }}
                            {{ form_errors(form.description) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.file, "Image de la série") }}
                            {{ form_errors(form.file) }}
                            {{ form_widget(form.file) }}
                            <p class="help-block">Veuillez choisir l'image de la série</p>
                        </div>

                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}

                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
